*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    border-bottom:1px #003C00;
}
.intro{
    height: 100vh;
    background: url('./assets/banner-01.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 6;
}
#play{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,40%);
    padding: 10px;
    background: transparent;
    color: goldenrod;
    outline: none;
    border: 2px solid gold;
    transition: ease-out .5s;
    font-family: sans-serif;
    font-weight: bold;
}
#play {
    border: 1px solid;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    z-index: 6;
  }
  
  .fadeout{
      transition:.1s ease-in-out ;
      opacity: 0;
      pointer-events: none;
  }
  .fadein{
      transition: .1s ease-out;
      opacity: 1;
      pointer-events: all;
  }
  .menu{
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100vh;
      width: 100vw;
      transform: translate(-50%,-50%);
      background-color: #003C00;
      z-index: 5;
      
   }
   .bj{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100vh;
    width: 100vw;
    transform: translate(-50%,-50%);
    background-color: #003C00;
    z-index: 3;
   }

   .tableb{
       display: flex;

   }
   .player-space,.dealer-space{
       width: 50vw; 
       height: 100vh;
       text-align: center;

   }

   .player-space{
       border-right:1px solid black ;
       flex-wrap: wrap;
   }
   .player-space{
       border-left:1px solid black ;
   }
   .menuback{
       max-width: 45%;
       position: absolute;
       left: 50%;
       top: 25%;
       transform: translate(-50%,-25%);
    }
    .btnz,.btnz1{
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        position: absolute;
        
    }
    .btnz{
        top: 62vh;
        left: 47vw;
    }
    .btnz1{
        top: 42vh;
        left: 55vw;
    }
    .btns{
        display: flex;
    }
    .btnz:hover,.btnz1:hover{
        animation: zoomin 0.5s ease-in-out forwards ;
    }

    @keyframes zoomin{
        0%{
            transform: translateY(0);
        }
        100%{
            transform: translateY(-20px);
        }
    }
.operator1{
    
    position: absolute;
    bottom:10% ;
    left: 40%;
    padding: 10px 30px 10px 30px;
    transform: translateX(-50%);
    background-color: goldenrod;
    border: goldenrod;
    font-family: sans-serif;
    font-weight: bold;
    outline: none;
    z-index: 4;
    cursor: pointer;

}
.operator2{
    padding: 10px 30px 10px 30px;
    position: absolute;
    bottom:10% ;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    background-color: goldenrod;
    border: goldenrod;
    font-family: sans-serif;
    font-weight: bold;
    outline: none;
    cursor: pointer;

    
}
.operator3{
    
    position: absolute;
    bottom:10% ;
    left: 60%;
    padding: 10px 30px 10px 30px;
    transform: translateX(-50%);
    z-index: 4;
    background-color: goldenrod;
    border: goldenrod;
    font-family: sans-serif;
    font-weight: bold;
    outline: none;
    cursor: pointer;

}
.bj h2{
    color: white;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: bold;
}
#result{
    color: black;
    position: absolute;
    left: 50%;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 5vh;
    font-size: 28px;
    padding: 1px;
    background-color: white;
    transform: translateX(-50%);
}
.bj h2{
    margin-top: 50px;
}
table,th ,td{
    padding:5px;
    color: black;
  
    text-align: center;
    border: 1px solid black;
}
.tabular {

    color: white;

}
.slotmachinegame{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

 
    z-index: 3;
   }
   #canvas{
       position: absolute;
       top: -100vh;
       left: 0;
       min-height: 100vh;
       max-width: 100vw;
   }




   /* media queries */
   @media(max-width:621px){
    #play {
     
        top: 56%;
        padding: 5px;
        font-size: 14px;
       
    }
    .backbut3{
        cursor: pointer;
        position: absolute;
        border: none;
        top: 7vh;
        left: 50vw;
        color: green;
        padding:5px;
        background-color: white;
        outline: white;
        transform: translateX(-50%);
      }
    .bj h2{
        margin-top: 15vh;
    }
    .btnz {
        top: 58vh;
        left: 38vw;
    }
    .menuback {
        max-width: 135%;
        top: 33%;
    }
    .menu{
        overflow: hidden;
    }
    .modal-content {
        background-color: #fefefe;
        /* margin: 50% 0; */
        padding: 20px;
        border: 1px solid #888;
        width: 100%;
        align-items: center;
    }
    #result{
        font-size: 22px;
        margin-top: 60vh;
    }
    .operator3 {
        position: absolute;
        bottom: 10%;
        left: 82%;
        padding: 10px 30px 10px 30px;
        transform: translateX(-50%);
        z-index: 4;
        background-color: goldenrod;
        border: goldenrod;
        font-family: sans-serif;
        font-weight: bold;
        outline: none;
        cursor: pointer;
    }
    .operator1 {
        position: absolute;
        bottom: 10%;
        left: 19%;
        padding: 10px 30px 10px 30px;
        transform: translateX(-50%);
        background-color: goldenrod;
        border: goldenrod;
        font-family: sans-serif;
        font-weight: bold;
        outline: none;
        z-index: 4;
        cursor: pointer;
    }
    .player-space img{
        max-width: 100px;
    }
    .dealer-space img{
        max-width: 100px;
    }
    .backbut2 {
        cursor: pointer;
        position: absolute;
        border: none;
        top: 7vh;
        left: 70vw;
        color: green;
        padding: 5px;
        background-color: white;
        outline: white;
    }
    #myBtn{
        top: 80vh;
        left: 77vw;
    }
   }
   @media(min-width:621px){
    .backbut3{
        cursor: pointer;
        position: absolute;
        border: none;
        top: 0vh;
        left: 50vw;
        color: green;
        padding:5px;
        background-color: white;
        outline: white;
        transform: translateX(-50%);
      }
 .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
        align-items: center;
    }
    .player-space img{
        max-width: 150px;
    }
    .dealer-space img{
        max-width: 150px;
    }
    
.backbut2{
    cursor: pointer;
    position: absolute;
    border: none;
    top: 0vh;
    left: 75vw;
    color: green;
    padding:5px;
    background-color: white;
    outline: white;
  }
   }